from config_common import *

# -*- coding: utf-8 -*-
# *****************************************************************************
# Elasticsearch variables
# *****************************************************************************
# elasticsearch server transport url
ES_HOST = 'localhost:9200'
# elasticsearch index name
ES_INDEX_NAME = 'myspecies_current'
# elasticsearch document type
ES_DOC_TYPE = 'species'
# Only these options are passed to the elasticsearch query from kwargs
ALLOWED_OPTIONS = ['_source', 'start', 'from_', 'size', 'fields',
                   'sort', 'explain', 'version', 'facets']
ES_SCROLL_TIME = '1m'
ES_SCROLL_SIZE = 1000
ES_QUERY_MODULE = 'www.api.es'

# *****************************************************************************
# Google Analytics Settings
# *****************************************************************************
# Google Analytics Account ID
# GA_ACCOUNT = ''
# Turn this to True to start google analytics tracking
GA_RUN_IN_PROD = False

# 'category' in google analytics event object
GA_EVENT_CATEGORY = 'v1_api'
# 'action' for get request in google analytics event object
GA_EVENT_GET_ACTION = 'get'
# 'action' for post request in google analytics event object
GA_EVENT_POST_ACTION = 'post'
# url for google analytics tracker
GA_TRACKER_URL = 's.biothings.info'

# *****************************************************************************
# URL settings
# *****************************************************************************
# For URL stuff
ANNOTATION_ENDPOINT = 'species'
QUERY_ENDPOINT = 'query'
API_VERSION = 'v1'
# TODO Fill in a status id here
STATUS_CHECK_ID = '9606'
# Path to a file containing a json object with information about elasticsearch fields
FIELD_NOTES_PATH = ''
JSONLD_CONTEXT_PATH = ''

#######
# HUB #
#######
import os

DATA_SRC_SERVER = 'localhost'
DATA_SRC_PORT = 27017
DATA_SRC_DATABASE = 'dev_speciesdoc_src'
DATA_SRC_SERVER_USERNAME = ''
DATA_SRC_SERVER_PASSWORD = ''

DATA_TARGET_SERVER = 'localhost'
DATA_TARGET_PORT = 27017
DATA_TARGET_DATABASE = 'dev_speciesdoc'
DATA_TARGET_SERVER_USERNAME = ''
DATA_TARGET_SERVER_PASSWORD = ''

DATA_ARCHIVE_ROOT = './data'
DIFF_PATH = os.path.join(DATA_ARCHIVE_ROOT,"diff")

LOG_FOLDER = os.path.join(DATA_ARCHIVE_ROOT,'logs')
LOGGER_NAME = "species.hub"
from biothings.utils.loggers import setup_default_log
logger = setup_default_log(LOGGER_NAME, LOG_FOLDER)

# fill with "token", "roomid" and "from" keys
# to broadcast message to a Hipchat room
HIPCHAT_CONFIG = {}

DATA_ARCHIVE_ROOT = "./data"
